@charset "UTF-8";

/* ========================================================== 
                            Resets
========================================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	max-width: 100%;
}

/* ========================================================== 
                        Body – Wrapper
========================================================== */

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background: url("./../images/bg.jpg") center/cover fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-block: 5vh;
}

/* ========================================================== 
                            Content
========================================================== */

h1 {
	padding-block-end: 3vh;
	color: rgba(0, 0, 0, 0.8);
}

figure {
	background-color: rgb(254 188 77 / 40%);
	transition: all 3s ease-in-out;
	padding: 10px 10px 20px;
	border-radius: 15px;
	width: 100%;
}

img {
	border-radius: 10px;
	object-fit: cover;
	margin: 0 auto;
}

figcaption {
	padding-block-start: 1.5vh;
}

button {
	background-color: #fe654d;
	color: white;
	font-size: 0.8rem;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 15px;
	cursor: pointer;
	border: none;
	transition: all 0.5s ease-in-out;
}

button:hover {
	background-color: white;
	color: #fe654d;
}

section.nav {
	text-align: center;
}

.nav-btn {
    background-color: transparent;
    border: 2px solid #fe654d;
    margin-top: 5px;
    padding: 0 30px;
    color: black;
    font-weight: bold;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.nav-btn.backward::before {
	content: "\2190";
	margin-right: 5px;
	font-size: 2rem;
	vertical-align: sub;
}

.nav-btn.forward::after {
	content: "\2192";
	margin-left: 5px;
	font-size: 2rem;
	vertical-align: sub;
}

/* ========================================================== 
                        Media Queries
========================================================== */

/** Smartphones: Inhalte in einer Spalte **/
@media (max-width: 480px) {
	.gallery__wrapper {
		display: grid;
		grid-template-columns: 1fr;
		gap: 25px;
		text-align: center;
		margin: 30px auto;
	}
}

/** Tablet: Inhalte in zwei Spalten **/
@media (min-width: 481px) {
	.gallery__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 25px;
		text-align: center;
		max-width: 719px;
		margin: 30px auto;
	}
}

/** Laptop: Inhalte in drei Spalten **/
@media (min-width: 720px) {
	.gallery__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 25px;
		text-align: center;
		max-width: 1159px;
		margin: 30px auto;
	}
}

/** Große Monitore: Inhalte in 4 Spalten **/
@media (min-width: 1160px) {
	.gallery__wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 25px;
		text-align: center;
		max-width: 1440px;
		margin: 30px auto;
	}
}
